.head {
	background:#333;
	color:#fff;
	margin-left:10px;
	text-align: center;
	opacity: 0.8;
	margin-top:2px;
}

.head:hover {
	background:#5CC9E0;
}

.lead {
	text-align: center;
	width:70%;
}

h1 {
	text-align: center;
}

.pp	{
	margin-top:20px;
	background: #333;
	color:#fff;
	height:500px;
	text-align: center;
}

.img {
	/*background-image: url("/template/image/1.jpg");
	height:400px;
	margin-top:10px;*/
}

.title {
	margin-bottom:10px;
	background-color:#F4F4F4;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.header {
	box-shadow: 0 0 10px rgba(95,222,229,0.5)!important;
	background-color:#5FCAE5!important;
	color:#fff!important;
	margin:0!important;
}
.header a {
	
	color:#fff!important;
}
.block1 {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin-top:20px;
}
.image {
	margin-top:-1px;	
	color:#FFF;	
}
.banner {
	background: #333;
	color:#fff;
	opacity: 0.7;
}
.img-wrap {
  position: relative;
  background: #333;
  color:#fff;
  opacity: 0.7; 
}

.img-wrap p {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.text {


}